asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-filter
django-jazzmin
djangorestframework
environ
future
idna
Markdown
pillow
python-dotenv
requests
serializers
sqlparse
sslcommerz-lib
tzdata
urllib3
